Source: wl-kbptr
Section: unknown
Priority: optional
Maintainer: Vedanth Padmaraman <vedanthpadmaraman0566@gmail.com>
Build-Depends:
 debhelper-compat (= 13), meson, gcc, pkgconf, libwayland-dev, libxkbcommon-dev, libcairo-dev, wayland-protocols
Standards-Version: 4.7.3
Homepage: https://github.com/moverest/wl-kbptr
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/wl-kbptr.git
#Vcs-Browser: https://salsa.debian.org/debian/<project_site>

Package: wl-kbptr
Section: unknown
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 jq
Description: Control the mouse pointer with the keyboard on Wayland.
 wl-kbptr — short for Wayland Keyboard Pointer — is a utility
 to help move the mouse pointer with the keyboard.
 .
 `jq` is in `Recommends:` since the wl-kbptr-sway-active-win helper
 uses it.
